body {
    overflow-x: hidden;
}

.over-scroll {
    overflow: hidden;
    height: 100vh;
}

.root {
    width: calc(120vw);
    height: calc(100vh + 100px);
    min-width: 1500px;
    position: relative;
    cursor: crosshair;
    overflow: hidden;
    transition: all 0.5s ease;

    .root-title {
        position: fixed;
        font-size: 2rem;
        color: #fff;
        transform: translate(-50%, 20px);
        z-index: 9999;
        transition: all 0.2s ease;
    }
}

.img-hover {
    position: absolute;
    transform: scale(0.2);
    transition: all 0.5s ease;

    &.before-hover {
        opacity: 0;
    }

    &.start01 {
        top: calc(30% - 50px);
        left: calc(30vw - 50px);
    }

    &.start02 {
        top: calc(30%);
        left: calc(30vw + 50px);
    }

    &.start03 {
        top: calc(30% + 50px);
        left: calc(30vw - 100px);
    }

    &.start04 {
        top: calc(30% + 10px);
        left: calc(30vw - 10px);
    }
}