@charset "UTF-8";
@use "sass:math";

body {
    overflow-x: hidden;
}

.over-scroll {
    overflow: hidden;
    height: 100vh;
}

.root {
    width: calc(100% + 100px);
    height: calc(100% + 100px);
    position: relative;
    cursor: crosshair;
    overflow: hidden;
    transform: translate(-50px, -50px);
    transition: all 1s ease;
    border: 2px solid green;


    .root-title {
        position: fixed;
        min-width: 100px;
        text-align: center;
        font-size: 1.8rem;
        color: #fff;
        transform: translate(-50%, 20px);
        z-index: 9999;
        transition: all 0.1s ease;
    }

    .img-title {
        display: none;
    }
}

@function round($a, $b) {
    $result: $a - math.floor(math.div($a, $b)) * $b;
    @return $result;
}

.img-hover {
    width: 100%;
    max-width: 600px;
    max-height: 600px;
    position: absolute;
    transform-origin: top left;
    transform: scale(0.3);
    transition: all 0.5s ease;

    @media only screen and (max-width: 1280px) {
        max-width: 500px;
        max-height: 500px;
    }

    @media only screen and (max-width: 768px) {
        max-width: 400px;
        max-height: 400px;
    }

    @media only screen and (max-width: 640px) {
        max-width: 300px;
        max-height: 300px;
    }

    img {
        border: 1px solid #333;
        width: 100%;
        transform: translate(-50%, -50%);
    }

    &.img-init {
        opacity: 0;
    }

    &.img-click {
        transition: all 0.5s ease 0.5s;
        z-index: 9000;
        transform: scale(0.3) !important;
    }

    @for $i from 6 through 10 {
        &.img#{$i} {
            left: #{8% + round($i, 5) * 21%};
            top: #{($i - round($i, 4) * 1.8) * 9%};
            z-index: $i;
        }
    }

    @for $i from 11 through 15 {
        &.img#{$i} {
            left: #{($i - round($i, 3) * 5) * 6.5%};
            top: #{($i - round($i, 2) * 8) * 6%};
        }
    }

    @for $i from 16 through 20 {
        &.img#{$i} {
            left: #{($i - round($i, 3) * 7) * 4.8%};
            top: #{($i - round($i, 4) * 5) * 2.8%};
        }
    }

    @for $i from 21 through 25 {
        &.img#{$i} {
            left: #{($i - round($i, 3) * 10) * 4%};
            top: #{($i - round($i, 5) * 4) * 3.5%};
        }
    }

    @media only screen and (max-width: 767px) {
        @for $i from 6 through 10 {
            &.img#{$i} {
                left: #{8% + round($i, 5) * 21%};
                top: #{($i - round($i, 4) * 1.8) * 9%};
                z-index: $i;
            }
        }

        @for $i from 11 through 15 {
            &.img#{$i} {
                left: #{($i - round($i, 3) * 5) * 5%};
                top: #{($i - round($i, 2) * 8) * 6%};
            }
        }

        @for $i from 16 through 20 {
            &.img#{$i} {
                left: #{($i - round($i, 3) * 7) * 4.8%};
                top: #{($i - round($i, 4) * 5) * 4.5%};
            }
        }

        @for $i from 21 through 25 {
            &.img#{$i} {
                left: #{($i - round($i, 3) * 10) * 4%};
                top: #{($i - round($i, 5) * 4) * 3.5%};
            }
        }
    }
}

.img-start {

    &.img1,
    &.img2,
    &.img3,
    &.img4,
    &.img5 {
        top: 50%;
        left: 50%;
        z-index: 100;
    }

    &.img1 {
        animation: kf_img01 2s ease 0.5s 1 both;
    }

    &.img2 {
        animation: kf_img02 2s ease 0.4s 1 both;
    }

    &.img3 {
        animation: kf_img03 2s ease 0.3s 1 both;
    }

    &.img4 {
        animation: kf_img04 2s ease 0.2s 1 both;
    }

    &.img5 {
        animation: kf_img05 2s ease 0.1s 1 both;
    }
}

@keyframes kf_img01 {

    30%,
    80% {
        top: 52.5%;
        left: 47.5%;
    }

    100% {
        top: 60.5%;
        left: 40.5%;
    }
}

@keyframes kf_img02 {

    30%,
    65% {
        top: 48%;
        left: 48.5%;
    }

    100% {
        top: 30.5%;
        left: 42.5%;
    }
}

@keyframes kf_img03 {

    30%,
    65% {
        top: 49%;
        left: 52%;
    }

    100% {
        top: 44.5%;
        left: 65.5%;
    }
}

@keyframes kf_img04 {

    30%,
    65% {
        top: 51%;
        left: 50.5%;
    }

    100% {
        top: 65.5%;
        left: 55.5%;
    }
}

@keyframes kf_img05 {

    30%,
    65% {
        top: 46%;
        left: 50.5%;
    }

    100% {
        top: 22.5%;
        left: 70%;
    }
}