body {
    overflow-x: hidden;
}

.over-scroll {
    overflow: hidden;
    height: 100vh;
}

.root {
    width: calc(100vw + 200px);
    height: calc(100vh + 200px);
    position: relative;
    cursor: crosshair;
    overflow: hidden;
    transition: all 0.5s ease;

    .root-title {
        position: fixed;
        font-size: 2rem;
        color: #fff;
        transform: translate(-50%, 20px);
        z-index: 9999;
    }
}

.before-hover {
    position: absolute;
    transform: scale(0.2);
    transition: all 0.3s ease;

    &.start01 {
        top: calc(30% - 50px);
        left: calc(50vw - 50px);

    }

    &.start02 {
        top: calc(30% + 50px);
        left: calc(50vw + 50px);
    }

    &.start03 {
        top: calc(30% - 150px);
        left: calc(50vw - 200px);
    }

    &.start04 {
        top: calc(30% + 50px);
        left: calc(50vw - 150px);
    }
}